



<!-- /.section -->


<!-- /.section-colored -->

<div class="section">

    <div class="container">

             <div class="row">
                <h2>See the Temperatures of 9 cities in metric units</h2>
                <hr>
            </div>

        <div class="row row-eq-height">
           


     <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal+')'}">
                

                 <script type="text/javascript">
        function display1() {
            
                document.getElementById("d1").style.visibility='visible';
                document.getElementById("b1").style.visibility='hidden';
           
        }
        </script>
        
        <button type="button" id="b1" onclick="display1()" style="visibility:visible">check weather</button>
        <br>

        <div id="d1" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w1">
            <button type="button"  ng-click="check1()">Enter</button>
              
        </div>
         <h1>{{t1}}</h1>

     </div>

            <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal2+')'}">
                 <script type="text/javascript">
        function display2() {
            
                document.getElementById("d2").style.visibility='visible';
                document.getElementById("b2").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b2" onclick="display2()" style="visibility:visible">check weather</button>
        <br>

        <div id="d2" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w2">
            <button type="button"  ng-click="check2()">Enter</button>
              
        </div>
         <h1>{{t2}}</h1>
     </div>
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal3+')'}">
                 <script type="text/javascript">
        function display3() {
            
                document.getElementById("d3").style.visibility='visible';
                document.getElementById("b3").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b3" onclick="display3()" style="visibility:visible">check weather</button>
        <br>

        <div id="d3" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w3">
            <button type="button"  ng-click="check3()">Enter</button>
              
        </div>
         <h1>{{t3}}</h1>
     </div>
     </div>


     <div class="row row-eq-height">
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal4+')'}">
                 <script type="text/javascript">
        function display4() {
            
                document.getElementById("d4").style.visibility='visible';
                document.getElementById("b4").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b4" onclick="display4()" style="visibility:visible">check weather</button>
        <br>

        <div id="d4" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w4">
            <button type="button"  ng-click="check4()">Enter</button>
              
        </div>
         <h1>{{t4}}</h1>
     </div>
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal5+')'}">
                 <script type="text/javascript">
        function display5() {
            
                document.getElementById("d5").style.visibility='visible';
                document.getElementById("b5").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b5" onclick="display5()" style="visibility:visible">check weather</button>
        <br>

        <div id="d5" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w5">
            <button type="button"  ng-click="check5()">Enter</button>
              
        </div>
         <h1>{{t5}}</h1>
     </div>
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal6+')'}">
                 <script type="text/javascript">
        function display6() {
            
                document.getElementById("d6").style.visibility='visible';
                document.getElementById("b6").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b6" onclick="display6()" style="visibility:visible">check weather</button>
        <br>
        <div id="d6" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w6">
            <button type="button"  ng-click="check6()">Enter</button>
              
        </div>
         <h1>{{t6}}</h1>
     </div>
        
         
      

    </div>
<div class="row row-eq-height">
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal7+')'}">
                 <script type="text/javascript">
        function display7() {
            
                document.getElementById("d7").style.visibility='visible';
                document.getElementById("b7").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b7" onclick="display7()" style="visibility:visible">check weather</button>
        <br>

        <div id="d7" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w7">
            <button type="button"  ng-click="check7()">Enter</button>
              
        </div>
         <h1>{{t7}}</h1>
     </div>
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal8+')'}">
                 <script type="text/javascript">
        function display8() {
            
                document.getElementById("d8").style.visibility='visible';
                document.getElementById("b8").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b8" onclick="display8()" style="visibility:visible">check weather</button>
        <br>

        <div id="d8" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w8">
            <button type="button"  ng-click="check8()">Enter</button>
              
        </div>
         <h1>{{t8}}</h1>
     </div>
      <div class="col-lg-4 col-md-4 col-sm-6 well" ng-style="{'background-image': 'url('+selectedMeal9+')'}">
                 <script type="text/javascript">
        function display9() {
            
                document.getElementById("d9").style.visibility='visible';
                document.getElementById("b9").style.visibility='hidden';
           
        }
        </script>

        <button type="button" id="b9" onclick="display9()" style="visibility:visible">check weather</button>
        <br>
        <div id="d9" style="visibility:hidden">
            <input type="text"  name="myText" ng-model="w9">
            <button type="button"  ng-click="check9()">Enter</button>
              
        </div>
         <h1>{{t9}}</h1>
     </div>
     </div>
        
    <!-- /.container -->

</div>
</div>
<!-- /.section -->


<!-- /.section-colored -->


<!-- /.section -->
<!-- /.container -->
